<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Team Alpak-a</title>
    </head>
    <body>
        <h1>Roster, occupations, etc.</h1>
        <p>Team Alpak-a</p>
        <hr>
        <p>Random Occupation: {{ occupationRandom }}</p>
        <table>
            <thead><tr><td>Job</td><td>Percentage</td></tr></thead>
            {% for key, value in occupationDict.items() %}
            <tr><td>{{ key }}</td><td>{{ value }}</td></tr>
            {% endfor %}
            <tr><td>Total: </td><td>{{ sum(occupationDict.values()) }}</td></tr>
        </table>
    </body>
</html>

